body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url('https://images.pexels.com/photos/317383/pexels-photo-317383.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-size: cover;
  /*font-family: 'Ravi Prakash', cursive;*/
  font-family: 'Inknut Antiqua', serif;
}

.mainTitle {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-top: 40px;
}

.modal-lg {
  width: 1200px;
  height: 1200px;
}

.form-control {
  width: 40%;
  height: 40px;
  font-size: 15px;
  margin: 1px 30%
}

.submitButton {
  margin: 10px 45% 10px 45%;
  font-family: 'Inknut Antiqua', serif;
}

.displayRow {
  text-align: center;
  background-color: white;
}

#directions {
  text-align: center;
  font-size: 20px;
  color: black;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th,
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: gray;
}

/*.glyphicon.v-centered {
  position: inherit;
  vertical-align: middle;
}*/
